<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="api.utilites.extendReportManager"></listener>

    </listeners>
    
    <test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/Rest_Assure_pet_store/src/test/java/api">
    <classes>
        <class name="api.test.dataDriven_test">
        <methods><include name="postUser"/>
            <include name="getUser"/>
            <include name="delUser"/>
        </methods>
    </class>
        <class name="api.test.userTest">
            <methods><include name="postUser"/>
                <include name="getUser"/>
                <include name="updateUser"/>
                <include name="delUser"/>
            </methods>
        </class>
    </classes>
</test>
</suite>